*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border: 2px ridge rgb(58, 130, 112);
    margin-top: 10px ;
    border
}
.table1 ,table{
    margin-left: 50px ;
    margin-top: 50px ;
}
td {
    border: 2px ridge black;
}
.t1 {
    text-align: center;
}
.t2 {
    color: rgb(153, 51, 80);
    width: 50px ;
    height: 50px ;

}
.t3 {
    color: green;
    width: 50px ;
    height: 50px ;
    text-align: center;
}
h1 {
    text-decoration: underline;
}
.table2 {
    margin-left: 50px ;
    margin-top: 50px ;
}
td {
    border: 2px ridge black;
}
.t11 {
    text-align: center;
}
.t22 {
    color: black;
    width: 80px ;
    height: 100px ;

}
.t33 {
    color: green;
    width: 50px ;
    height: 50px ;
    text-align: center;
}